.taskPage {
    display: flex;
    flex-direction: row;
    color: white;
    height: 100%;}
  .container{

    width: 100%;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .filters{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .actions {

    height: 4rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
  }
  
  .sortSelect {
    background-color: #1f2a35;
    color: white;
    border-radius: 5px;
  }
  
  .taskTable {
    display: flex;
    flex-direction: column;
    flex: 1,
  }
  
  .tableHeader {
    display: grid;

    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #1f2a45;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;

  }
  
  .taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  